.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--fgColor-default);
  padding: 6px 4px 2px;
}

.label {
  font-weight: bold;
  font-size: var(--fontSize-large);
  flex-grow: 1;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  flex-grow: 1;
  width: fit-content;
  text-align: right;
}

.input:focus {
  border-color: #007BFF;
}

.unit {
  margin-left: 8px;
  font-size: 14px;
  color: var(--fgColor-muted);
  text-align: center;
  width: 20px;
}