:root {
  font-family: var(--font-family-mono);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --paper-color: rgb(255,255,255);
  --bgColor-default: rgb(40,45,50);
  --fgColor-default: rgb(0, 0, 0);
  --fgColor-muted: rgb(100,103,106);
  --iconColor-muted: rgb(50,53,56);
  --iconColor-muted: rgb(150,153,156);
  --fgColor-onEmphasis: rgba(255,255,255);
  --borderColor-emphasis:rgb(0, 0, 0);
  --borderColor-muted: rgb(200,203,206);
  --fontSize-large: 12px;
  --fontSize-default: 10px;
  --fontSize-small: 8px;
  --font-family-default: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-mono: monospace;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html {
  background: rgb(40,45,50); 
}
body {
  margin: 0;
  display: flex;
  place-items: start;
  width: 100%;
  min-height: 100vh;
  background: var(--bgColor-default); 
  font-size: var(--fontSize-default);
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
@media print {
  body {
    background: white;
  }
}